@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* Shared Styles  */

.primary-btn{
    padding: 20px 40px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: 0;
}

.primary-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

/* -----------Header Section----------  */

header{
    padding: 0px 240px;
}


/* Navbar Starts */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 45px 0px;


}

.nav-logo-title{
    display: flex;
    gap: 20px;
    align-items: center;
}


.nav-logo-title h1{
    font-size: 45px;
    font-weight: 700;
}

.gamer-g{
    color: rgba(255, 66, 165, 1);
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
}

nav li a{
    text-decoration: none;
}

.nav-logo-title img{
    width: 85px;
    height: 40px;
}

.nav-items{
    display: flex;
    font-size: 18px;
    font-weight: 500;  
}

.nav-items ul{
    align-items: center;
}

.nav-items ul li{
    margin-left: 32px;
}

.nav-items ul li a{
    color: #3C354F;
}


.nav-social-container{
    display: flex;
    gap: 22px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px 24px;
    align-items: center;
}

.nav-social-container img{
    width: 25px;
    height: 22px;
}

/* ------------Main Section Starts---------  */
/* main{
    padding: 0px 240px;
} */

/* Banner section starts */

.primary-banner-container{
    display: flex;
    padding: 45px 240px;
    justify-content: space-around;

}

.primary-banner-info{
    margin-top: 150px;
}

.primary-banner-info > h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}

.primary-banner-info img{
    width: 24px;
    height: 24px;

}

.goat{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
}

.play, 
.download,
.support
{
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.btn-area{
    margin-top: 40px;
}

.rogue-btn{
    border-radius: 48px;
    color: #FFF;
    background: #4EC5F7;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    margin-left: 24px;

}

.primary-banner-img img{
    width: 100%;
    height: auto;

}


/* We are gamer Section  */
.we-are-gamer{
    display: flex;
    text-align: end;
    margin: 0px 90px;
    /* Right Side Align */
    padding: 0px 240px;

}

.we-are-gamer img{
    width: 100%;
    height: auto;
}

.we-are-gamer h2{
    margin-top: 80px;
}

.we-are-gamer p{
    margin-top: 24px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.know-more-btn{
    margin-top: 32px;
}

.we-are-gamer h6{
    margin-top: 25px;
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
}

.we-are-gamer h3{
    margin-top: 15px;
    color: #534C64;
    font-size: 24px;
    font-weight: 700;
}

/* Funny Videos Section  */
.funny-video-container{
    padding: 0px 240px;

}

.secondary-text{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.funny-video-container h2{
    color: #0B0223;
    text-align: center;

}

.funny-video-container p{
    text-align: center;
    margin-top: 15px;

}

.box-container{
    display: flex;
    gap: 24px;
    justify-content: space-around;
    margin-top: 48px;
}

.box-container img{
    width: 100%;
    height: auto;
}


/* Instant play Section  */

 /* -------play Section starts ------ */

/* .instant-play-container{
    display: flex;
    margin-top: 120px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 140px;
    padding-left: 50px;
}

.instant-play-info{
    display: flex;
    flex-direction: column;
    text-align: end;
}

.instant-play-img{
    margin-left: 100px;
}

.super-girl{
    position: relative;
    top: 80px;
    right: 710px;
} */


/* --------- Play section ends ---------- */


/* Career section  */

.career-container{
    display: flex;
    color: #FFF;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 100px 240px;
    /* width: 100%; */
    /* height: 821px; */
    /* padding: 0px 240px; */
    justify-content: space-around;

    margin: 0;

}

.career-info h2{
    font-size: 48px;
    font-weight: 700;
}

.career-info p{
    margin-right: 30px;
    margin-top: 24px;
}

.left-right-career-info{
    display: flex;
    gap: 90px;
    line-height: 6px;
    margin-top: 20px;
    font-weight: 600;
}

.left-info{
    text-align: start;
}

.right-info{
    text-align: end;
}

.career-img img{
    width: 400px;
    height: 350px;
}

.career-btn{
    border-radius: 48px;
    background: #FFF;
    padding: 21px 40px;
    margin-top: 40px;
    border: 0;
    color: rgba(255, 66, 165, 1);
    font-size: 20px;
    font-weight: 600;
}


/* Category Section  */

.category-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* justify-content: space-around; */
    width: 80%;
    margin: auto;
    padding: 50px 0px;
    gap: 50px;
}

.highlight-box{
    display: flex;
    gap: 16px;
}